:root {
  --yellow: #ffc600;
  --black: #272727;
}

@font-face {
  font-family: Apercu;
  src: font-url("fonts/apercu-light.eot");
  src: font-url("fonts/apercu-light.eot") format("embedded-opentype"),
    font-url("fonts/apercu-light.woff") format("woff"),
    font-url("fonts/apercu-light.ttf") format("truetype"),
    font-url("fonts/apercu-light.svg") format("svg");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: Apercu;
  src: font-url("fonts/apercu-regular.eot");
  src: font-url("fonts/apercu-regular.eot") format("embedded-opentype"),
    font-url("fonts/apercu-regular.woff") format("woff"),
    font-url("fonts/apercu-regular.ttf") format("truetype"),
    font-url("fonts/apercu-regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Apercu;
  src: font-url("fonts/apercu-medium.eot");
  src: font-url("fonts/apercu-medium.eot") format("embedded-opentype"),
    font-url("fonts/apercu-medium.woff") format("woff"),
    font-url("fonts/apercu-medium.ttf") format("truetype"),
    font-url("fonts/apercu-medium.svg") format("svg");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Apercu;
  src: font-url("fonts/apercu-bold.eot");
  src: font-url("fonts/apercu-bold.eot") format("embedded-opentype"),
    font-url("fonts/apercu-bold.woff") format("woff"),
    font-url("fonts/apercu-bold.ttf") format("truetype"),
    font-url("fonts/apercu-bold.svg") format("svg");
  font-weight: 700;
  font-style: normal;
}

html {
  box-sizing: border-box;
  font-family: "Apercu", "Lucida Sans Unicode", "Tahoma", "sans-serif";
  font-weight: normal;
  color: #272727;
  text-shadow: 0 2px 0 rgba(0, 0, 0, 0.07);
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background: linear-gradient(
    to bottom right,
    rgba(245, 222, 217, .6) 20%,
    rgba(245, 236, 217, .6) 40%,
    rgba(226, 245, 217, .6)60%,
    rgba(217, 245, 222, .6) 80%,
    rgba(217, 245, 236, .6)
    );
   margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  margin: 0;
  font-size: 1.5em;
}

.background-blur {
  filter: blur(4px);
}

.hidden-overflow {
  overflow: hidden;
}

/* fade in for hero bg image */
.fade-in {
  animation: fadeIn ease 2s;
  -webkit-animation: fadeIn ease 2s;
  -moz-animation: fadeIn ease 2s;
  -o-animation: fadeIn ease 2s;
  -ms-animation: fadeIn ease 2s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* fade in f/x for hero title text */
.fadeout {
  animation: fadeIn ease 2s;
  -webkit-animation: fadeIn ease 2s;
  -moz-animation: fadeIn ease 2s;
  -o-animation: fadeIn ease 2s;
  -ms-animation: fadeIn ease 2s;
}

.app {
  display: grid;
  grid-template-rows: auto 1fr 1fr auto;
}

/* nav bar */
.navbar {
}

.paper_plane {
  height: 38px;
}

.menu__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  grid-gap: 10px;
  list-style-type: none;
  padding: 0;
}

 .menu__button {
  display: none;
}

.menu__item {
  align-self: center;
}

.menu__list .menu__link {
  text-decoration: none;
  display: block;
  padding: 10px;
  text-align: center;
  color: var(--black);
  text-transform: uppercase;
  font-size: 20px;
}

.menu__home {
  display: none;
}

.menu__projects {
}

.menu__links {
}

.menu__contact_me {
}

.divider {
  color: white;
  width: 80%;
  grid-column: 1 / -1;
}

/* hero */
.wrapper {
  display: grid;
  background: rgba(255, 255, 255, .5);
}

.intro__wrapper {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: 200px 350px 50px 5px;
  justify-items: center;
  align-items: center;
  grid-column: 1 / -1;
  grid-row: 1 / -1;
  background: rgba(232, 232, 232, .5);
  overflow: hidden;
}

.background-image {
  grid-column: 1 / -1;
  grid-row: 1 / -1;
  width: 100vw;
  height: 605px;
  z-index: -1;
  object-fit: cover;
}

.learn-more p {
  margin: 0;
  display: none;
}

.hello_world,
.about-me,
.learn-more {
  grid-column: 1 / -1;
}

.blurb {
  text-align: center;
}

/* projects  */
.projectsWrapper {
  display: grid;
  align-items: center;
  justify-items: center;
  margin: 1em 0;
}

/* contact me */
.contact-me {
  display: grid;
  justify-items: center;
  margin: 1em 0;
}

.contact-me .menu__list .menu__link {
  font-size: 15px;
}

/* modal styles */
.modal__outer,
.modal__inner {
  display: none;
}

.modal__outer {
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  transition: opacity 0.1s;
}

.modal__outer-background {
  background: hsl(0, 100%, 100%, .5)
}

.modal__outer img {
  width: 100%;
}

.modal__outer-open,
.modal__inner-open {
  display: grid;
  overflow-y: hidden;
  pointer-events: all;
}

.modal__button-close {
  position: absolute;
  padding: 1em;
  top: 0;
  right: 0;
  z-index: 9999;
  cursor: pointer;
  transition: transform .2s ease;
  border: 0;
  font-size: 1rem;
  line-height: 1;
  margin: 0;
  background: 0 0;
}

.modal__button-close svg {
  width: 1em;
  height: 1em;
  vertical-align: bottom;
}

/* 👇🏽👇🏽 remove this section when page is "complete" 👇🏽👇🏽 */
.modal__inner {
  padding: 2rem;
  border-radius: 5px;
  position: relative;
  transition: transform 2s;
}

.modal__inner-construction {
  background: url(../images/under-construction.png) center center no-repeat hsla(50, 100%, 50%, 0.8);
  background-size: cover;
  width: 50vw;
  min-width: 400px;
  height: 50vh;
  min-height: 400px;
}

.modal__outer-open .modal__inner {
  animation: modalOpenAnimation ease 1s;
  -webkit-animation: modalOpenAnimation ease 1s;
  -moz-animation: modalOpenAnimation ease 1s;
  -o-animation: modalOpenAnimation ease 1s;
  -ms-animation: modalOpenAnimation ease 1s;
}

@keyframes modalOpenAnimation {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

/* ripple f/x */
.ripple-origin {
  display: none;
}

.ripple-origin-show {
  display: unset;
}

.ripple {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 0.2em;
  height: 0.2em;
  background-color: #97f4ff;
  box-shadow: 0 0 .2em .13em #52a8e8, 0 0 0 0 black, 0 0 0 0 #298df4;
  opacity: 0;
  animation: rippleAnimation linear 1.834s;
  border-radius: 50%;
}

@keyframes rippleAnimation {
  45% {
    opacity: 1;
  }

  46% {
    box-shadow: 0 0 .2em .13em #52a8e8, 0 0 0 0 black, 0 0 5px 10px #298df4;
  }

  50% {
    box-shadow: 0 0 .2em .13em #52a8e8, 0 0 0 101px black, 0 0 0 173px #298df4;
  }

  52% {
    box-shadow: 0 0 .2em .13em #52a8e8, 0 0 0 245px black, 0 0 0 255px #298df4;
  }

  55% {
    opacity: 1;
    box-shadow: 0 0 .2em .13em #52a8e8, 0 0 0 317px black, 0 0 0 320px #298df4;
  }

  81% {
    opacity: 0;
    box-shadow: 0 0 .2em .13em #52a8e8, 0 0 0 549px black, 0 0 0 549px #298df4;
  }
}

/* begin contact form styles */
.form_container *:focus {
  outline: 0;
}

.form_container {
  padding: 12px 24px 24px 24px;
  margin: 48px 12px;
  background: #E3F2FD;
  border-radius: 4px;
}

.form_container h3 {
  text-align: center;
}

/* Add styles to 'label' selector */
.contact_form label {
  font-size: 0.85em;
  margin-left: 12px;
}

/* Add styles to 'input' and 'textarea' selectors */
.contact_form input[type=text],
.contact_form input[type=email],
.contact_form textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

/* styles to show 'focus' of selector */
.contact_form input[type=text]:focus,
.contact_form input[type=email]:focus,
.contact_form textarea:focus {
  border: 1px solid green;
}

/* styles for submit button */
.contact_form input[type=submit] {
  background: #64B5F6;
  margin: 0 auto;
  outline: 0;
  color: white;
  border: 0;
  padding: 12px 24px;
  border-radius: 4px;
  transition: all ease-in-out 0.1s;
  position: relative;
  display: inline-block;
  text-align: center;
}

/* styles for 'focus' */
.contact_form input[type=submit]:focus {
  background: #A5D6A7;
  color: whitesmoke;
}

/* styles for 'hover' */
.contact_form input[type=submit]:hover {
  background: #2196F3;
}

.contact_form .form__center {
  text-align: center;
}

/* end contact form styles */

@media (max-width:  780px) {
  .app {
  }
}
