:root {
  --yellow: #ffc600;
  --black: #272727;
}

@font-face {
  font-family: Apercu;
  src: font-url("fonts/apercu-light.eot");
  src: font-url("fonts/apercu-light.eot") format("embedded-opentype"),
    font-url("fonts/apercu-light.woff") format("woff"),
    font-url("fonts/apercu-light.ttf") format("truetype"),
    font-url("fonts/apercu-light.svg") format("svg");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: Apercu;
  src: font-url("fonts/apercu-regular.eot");
  src: font-url("fonts/apercu-regular.eot") format("embedded-opentype"),
    font-url("fonts/apercu-regular.woff") format("woff"),
    font-url("fonts/apercu-regular.ttf") format("truetype"),
    font-url("fonts/apercu-regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Apercu;
  src: font-url("fonts/apercu-medium.eot");
  src: font-url("fonts/apercu-medium.eot") format("embedded-opentype"),
    font-url("fonts/apercu-medium.woff") format("woff"),
    font-url("fonts/apercu-medium.ttf") format("truetype"),
    font-url("fonts/apercu-medium.svg") format("svg");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Apercu;
  src: font-url("fonts/apercu-bold.eot");
  src: font-url("fonts/apercu-bold.eot") format("embedded-opentype"),
    font-url("fonts/apercu-bold.woff") format("woff"),
    font-url("fonts/apercu-bold.ttf") format("truetype"),
    font-url("fonts/apercu-bold.svg") format("svg");
  font-weight: 700;
  font-style: normal;
}

html {
  box-sizing: border-box;
  font-family: "Apercu", "Lucida Sans Unicode", "Tahoma", "sans-serif";
  font-weight: normal;
  color: #272727;
  text-shadow: 0 2px 0 rgba(0, 0, 0, 0.07);
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background: linear-gradient(
    to bottom right,
    rgba(245, 222, 217, .6) 20%,
    rgba(245, 236, 217, .6) 40%,
    rgba(226, 245, 217, .6)60%,
    rgba(217, 245, 222, .6) 80%,
    rgba(217, 245, 236, .6)
    );
   margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  margin: 0;
  font-size: 1.5em;
}

/* fade in f/x for hero background image */
.fade-in {
  animation: fadeIn ease 2s;
  -webkit-animation: fadeIn ease 2s;
  -moz-animation: fadeIn ease 2s;
  -o-animation: fadeIn ease 2s;
  -ms-animation: fadeIn ease 2s;
}

@keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

/* fade in f/x for hero title text */
.fade-in-text {
  animation: fadeIn ease 2s;
  -webkit-animation: fadeIn ease 2s;
  -moz-animation: fadeIn ease 2s;
  -o-animation: fadeIn ease 2s;
  -ms-animation: fadeIn ease 2s;
}

@keyframes fadeInText {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

.app {
  display: grid;
  grid-template-rows: auto 1fr 1fr auto;
}

/* nav bar */
.navbar {
}

.menu__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  grid-gap: 10px;
  list-style-type: none;
  padding: 0;
}

 .menu__button {
  display: none;
}

.menu__item {
  align-self: center;
}

.menu__list .menu__link {
  text-decoration: none;
  display: block;
  padding: 10px;
  text-align: center;
  color: var(--black);
  text-transform: uppercase;
  font-size: 20px;
}

.menu__home {
  display: none;
}

.menu__projects {
  /*grid-column: span 2 / 5;*/
}

.menu__links {
  /*grid-column: span 2 / 7;*/
}

.menu__contact_me {
  /*grid-column: span 2 / 9;*/
}

.divider {
  color: white;
  width: 80%;
  grid-column: 1 / -1;
}

/* hero */
.wrapper {
  display: grid;
  background: rgba(255, 255, 255, .5);
}

.intro__wrapper {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: 200px 350px 50px 5px;
  justify-items: center;
  align-items: center;
  grid-column: 1 / -1;
  grid-row: 1 / -1;
  background: rgba(232, 232, 232, .5);
  overflow: hidden;
}

.background-image {
  grid-column: 1 / -1;
  grid-row: 1 / -1;
  width: 100vw;
  height: 605px;
  z-index: -1;
  object-fit: cover;
}

.learn-more p {
  margin: 0;
}

.hello_world,
.about-me,
.learn-more {
  grid-column: 1 / -1;
}

.blurb {
  text-align: center;
}

/* projects  */
.projectsWrapper {
  display: grid;
  align-items: center;
  justify-items: center;
  margin: 1em 0;
}

/* contact me */
.contact-me {
  display: grid;
  justify-items: center;
  margin: 1em 0;
}

.contact-me .menu__list .menu__link {
  font-size: 15px;
}

/* modal styles */

.modal__outer {
  display: grid;
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.1s;
}

.modal__outer-background {
  background: hsla(0, 0%, 50%, 0.8);
}

.modal__outer img {
  width: 100%;
}

.modal__outer-open {
  opacity: 1;
  pointer-events: all;
}

.modal__button-close { /* close button */
  position: absolute;
  padding: 1em;
  top: 0;
  right: 0;
  z-index: 9999;
  cursor: pointer;
  transition: transform .2s ease;
  border: 0;
  font-size: 1rem;
  line-height: 1;
  margin: 0;
  background: 0 0;
}

.modal__button-close svg {
  width: 1em;
  height: 1em;
  vertical-align: bottom;
}

.modal__inner {
  background: url(../images/under-construction.png) center center no-repeat hsla(50, 100%, 50%, 0.8);
  background-size: cover;
  width: 50vw;
  min-width: 400px;
  height: 50vh;
  min-height: 400px;
  padding: 2rem;
  border-radius: 5px;
  position: relative;
  transition: transform 2s;
}

.modal__outer-open .modal__inner {
  animation: modalOpenAnimation ease 1s;
  -webkit-animation: modalOpenAnimation ease 1s;
  -moz-animation: modalOpenAnimation ease 1s;
  -o-animation: modalOpenAnimation ease 1s;
  -ms-animation: modalOpenAnimation ease 1s;
}

@keyframes modalOpenAnimation {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

/* modal scroll f/x */
.modal__outer-scroll {
  background-color: rgb(0, 0, 0, .8);
  background-image:
  radial-gradient(white, rgba(255,255,255,.2) 2px, transparent 40px),
  radial-gradient(white, rgba(255,255,255,.15) 1px, transparent 30px),
  radial-gradient(white, rgba(255,255,255,.1) 2px, transparent 40px),
  radial-gradient(white, rgba(255,255,255,.2) 2px, transparent 30px),
  radial-gradient(white, rgba(255,255,255,.15) 1px, transparent 40px),
  radial-gradient(white, rgba(255,255,255,.1) 2px, transparent 30px),
  radial-gradient(white, rgba(255,255,255,.2) 2px, transparent 40px),
  radial-gradient(white, rgba(255,255,255,.15) 1px, transparent 30px),
  radial-gradient(white, rgba(255,255,255,.1) 2px, transparent 40px),
  radial-gradient(white, rgba(255,255,255,.2) 2px, transparent 30px),
  radial-gradient(white, rgba(255,255,255,.15) 1px, transparent 40px),
  radial-gradient(white, rgba(255,255,255,.1) 2px, transparent 30px),
  radial-gradient(rgba(255,255,255,.4), rgba(255,255,255,.1) 2px, transparent 30px);
  background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px, 100px 100px, 50px 50px, 25px 25px;
  background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;\
}

.fade-in-scroll {
  animation: fadeInScroll ease .1s;
  -webkit-animation: fadeInScroll ease .1s;
  -moz-animation: fadeInScroll ease .1s;
  -o-animation: fadeInScroll ease .1s;
  -ms-animation: fadeInScroll ease .1s;
}

@keyframes fadeInScroll {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

.fade-out-scroll {
  animation: fadeOutScroll ease 1s;
  -webkit-animation: fadeOutScroll ease 1s;
  -moz-animation: fadeOutScroll ease 1s;
  -o-animation: fadeOutScroll ease 1s;
  -ms-animation: fadeOutScroll ease 1s;
}

@keyframes fadeOutScroll {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

